<%= form_tag me_users_path, method: :put, data: { guarded: true } do %>
  <div class="row">
    <div class="col-xs-2">
      <%= user_avatar active_user, { class: "img-responsive" } %>
    </div>

    <div class="col-xs-10 col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label> <small class="text-muted">(required)</small>
            <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" data-guard="required" value="<%= active_user.display_name %>" />
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="john@example.com" data-guard="email" value="<%= active_user.email %>" />
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="github_username">GitHub Username</label>
            <input type="text" class="form-control" id="github_username" value="<%= active_user.username %>" disabled="true" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% if active_user.really_admin? %>
      <div class="col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="incognito" value="true" <%= %{checked="true"} if active_user.incognito_admin? %> />
            Incognito mode
          </label>
        </div>
      </div>
    <% end %>

    <div class="col-sm-8">
      <input type="submit" class="btn btn-default" value="Save">
    </div>
  </div>
<% end %>
