<table class="table table-striped">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Time Zone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Conference.for_admin.each do |conference| %>
      <tr class="<%= "text-bold" if conference == current_conference %>">
        <td><%= format_date conference.starting_at %></td>
        <td><%= format_date conference.ending_at %></td>
        <td><%= conference.timezone %></td>

        <td>
          <a class="btn btn-default btn-xs" href="<%= edit_conference_path(conference) %>">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
