<h2 class="day-label <%= day.display_classes %>">
  <a class="day-expander" data-toggle="collapse" href="#<%= day.display_id %>" aria-expanded="<%= !day.entirely_past? %>" aria-controls="<%= day.display_id %>">
    <%= day.label %>
  </a>
</h2>

<div id="<%= day.display_id %>" class="day-content collapse <%= "in" unless day.entirely_past? %>">
  <% if day.events.empty? %>
    <em class="lead">None yet...</em>
  <% else %>
    <% day.events.each do |event| %>
      <div class="well event-well <%= event.display_classes active_user %>">
        <div class="title">
          <% unless event.listed? %>
            <span class="label label-primary" data-toggle="tooltip" data-placement="top" title="This event is pending spam check before it is visible to everyone">unlisted</span>
          <% end %>

          <a class="event-expander" data-toggle="collapse" href="#<%= event.display_id %>" aria-expanded="<%= !event.past? %>" aria-controls="<%= event.display_id %>">
            <%= event.name %>
          </a>
        </div>

        <div id="<%= event.display_id %>" class="collapse <%= "in" unless event.past? %>">
          <%= render event %>

          <p>
            <a class="btn btn-link comments-link" href="<%= event_path event %>">
              comments
              <% if event.comments.size > 0 %>
                (<%= event.comments.size %>)
              <% end %>
            </a>

            <%= partial "events/editing_buttons", event: event %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
