<p>
  <strong>Time:</strong>
  <%= format_time event.starting_at %> - <%= format_time event.ending_at %>
</p>

<% if event.url.present? %>
  <p>
    <% if event.listed? %>
      <a href="<%= event.url %>"><%= event.url %></a>
    <% else %>
      <strong>URL:</strong>
      <%= event.url %>
    <% end %>
  </p>
<% end %>

<% unless event.coordinators.empty? %>
  <p>
    <strong><%= "Coordinator".pluralize(event.coordinators.size) %>:</strong>
    <% event.coordinators.each_with_index do |coordinator, i| %>
      <% comma = "," if i < event.coordinators.size - 1 %>

      <% if coordinator.user %>
        <%= user_avatar coordinator.user %>
        <%= user_github_link coordinator.user %><%= comma %>
      <% elsif coordinator.name.present? && coordinator.twitter.present? %>
        <%= link_to coordinator.name, coordinator.twitter_path %><%= comma %>
      <% elsif coordinator.twitter.present? %>
        <%= link_to coordinator.twitter, coordinator.twitter_path %><%= comma %>
      <% elsif coordinator.name.present? && coordinator.username.present? %>
        <%= link_to coordinator.name, coordinator.github_path %><%= comma %>
      <% elsif coordinator.username.present? %>
        <%= link_to coordinator.username, coordinator.github_path %><%= comma %>
      <% else %>
        <%= coordinator.name %><%= comma %>
      <% end %>
    <% end %>
  </p>
<% end %>

<% if event.location.present? %>
  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>
<% end %>

<% if event.description.present? %>
  <div class="text-italic">
    <%= simple_format event.description %>
  </div>
<% end %>

<% if event.creator.present? %>
  <p class="text-italic">
    submitted by
    <%= user_avatar event.creator %>
    <%= user_github_link event.creator %>
  </p>
<% elsif active_user.admin? && event.anonymous_user_ip.present? %>
  <p>
    <em>
      submitted by <%= event.anonymous_user_ip %>
    </em>
  </p>
<% end %>
