<p>
  <strong>Time:</strong>
  <%= event.display_start_time %> - <%= event.display_end_time %>
</p>

<% if event.url.present? %>
  <p>
    <% if event.listed? %>
      <a href="<%= event.url %>"><%= event.url %></a>
    <% else %>
      <strong>URL:</strong>
      <%= event.url %>
    <% end %>
  </p>
<% end %>

<% unless event.coordinators.empty? %>
  <p>
    <strong>Coordinator:</strong>
    <% if event.coordinators.first.name.present? && event.coordinators.first.twitter.present? %>
      <a href="https://twitter.com/<%= event.coordinators.first.twitter %>"><%= event.coordinators.first.name %></a>
    <% elsif event.coordinators.first.twitter.present? %>
      <a href="https://twitter.com/<%= event.coordinators.first.twitter %>">@<%= event.coordinators.first.twitter %></a>
    <% else %>
      <%= event.coordinators.first.name %>
    <% end %>
  </p>
<% end %>

<% if event.location.present? %>
  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>
<% end %>

<% if event.description.present? %>
  <div class="text-italic">
    <%= simple_format event.description %>
  </div>
<% end %>

<% if event.creator.present? %>
  <p class="text-italic">
    submitted by
    <%= user_avatar event.creator %>
    <%= user_github_link event.creator %>
  </p>
<% elsif active_user.admin? && event.anonymous_user_ip.present? %>
  <p>
    <em>
      submitted by <%= event.anonymous_user_ip %>
    </em>
  </p>
<% end %>
