<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <label for="name">Name</label> <small class="text-muted">(required)</small>
      <input type="text" class="form-control" id="name" name="name" placeholder="Event name" data-guard="required" value="<%= event.name %>" />
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="date">Date</label> <small class="text-muted">(required)</small>
          <input type="text" class="form-control" id="date" name="date" placeholder="Ex: 4/22/2015" data-guard="required dateUS railsConf2015" value="<%= event.edit_date %>" />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="start_time">Start Time</label> <small class="text-muted">(required)</small>
          <input type="text" class="form-control" id="start_time" name="start_time" placeholder="Ex: 7:00 pm" data-guard="required timeUS" value="<%= event.edit_start_time %>" />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="end_time">End Time</label> <small class="text-muted">(required)</small>
          <input type="text" class="form-control" id="end_time" name="end_time" placeholder="Ex: 7:30 pm" data-guard="required timeUS" value="<%= event.edit_end_time %>" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="coordinator">Coordinator</label>
          <input type="text" class="form-control" id="coordinator" name="coordinator" placeholder="Coordinator" value="<%= event.coordinator %>" />
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="coordinator_twitter"><span class="visible-xs-inline">Coordinator </span>Twitter</label>

          <div class="input-group">
            <span class="input-group-addon" id="twitter_coordinator_at">@</span>
            <input type="text" class="form-control" id="coordinator_twitter" name="coordinator_twitter" placeholder="Coordinator" aria-describedby="twitter_coordinator_at" data-guard="twitter" value="<%= event.coordinator_twitter %>" />
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" class="form-control" id="url" name="url" placeholder="Event URL" value="<%= event.url %>" />
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" name="location" placeholder="Event location" value="<%= event.location %>" />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" placeholder="Event description" rows="5"><%= event.description %></textarea>
    </div>

    <input type="submit" class="btn btn-default" value="<%= submit_label %>">
  </div>
</div>
