<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <label for="name">Name</label> <small class="text-muted">(required)</small>
      <input type="text" class="form-control" id="name" name="name" placeholder="Event name" data-guard="required" value="<%= event.name %>" />
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="date">Date</label> <small class="text-muted">(required)</small>
          <input type="text" class="form-control" id="date" name="date" placeholder="Ex: <%= current_conference.example_event_date %>" data-guard="required dateUS confDates" data-guard-conf-dates-message="Valid dates: <%= current_conference.valid_start_date %> - <%= current_conference.valid_end_date %>." data-valid-starting-at="<%= current_conference.iso_valid_start_date %>" data-valid-ending-at="<%= current_conference.iso_valid_end_date %>" value="<%= event.edit_date %>" />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="start_time">Start Time</label> <small class="text-muted">(required)</small>
          <input type="text" class="form-control" id="start_time" name="start_time" placeholder="Ex: 7:00 pm" data-guard="required timeUS" value="<%= event.edit_start_time %>" />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="end_time">End Time</label> <small class="text-muted">(required)</small>
          <input type="text" class="form-control" id="end_time" name="end_time" placeholder="Ex: 7:30 pm" data-guard="required timeUS" value="<%= event.edit_end_time %>" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="coordinator-0">Coordinator</label>
          <input type="text" class="form-control" id="coordinator-0" name="coordinators[]" placeholder="Coordinator" value="<%= event.coordinators.first.name unless event.coordinators.empty? %>" />
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="coordinator_twitter-0"><span class="visible-xs-inline">Coordinator </span>Twitter</label>

          <div class="input-group">
            <span class="input-group-addon" id="twitter_coordinator_at-0">@</span>
            <input type="text" class="form-control" id="coordinator_twitter-0" name="coordinator_twitters[]" placeholder="Coordinator" aria-describedby="twitter_coordinator_at-0" data-guard="twitter" value="<%= event.coordinators.first.twitter unless event.coordinators.empty? %>" />
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" class="form-control" id="url" name="url" placeholder="Event URL" value="<%= event.url %>" />
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" name="location" placeholder="Event location" value="<%= event.location %>" />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" placeholder="Event description" rows="5"><%= event.description %></textarea>
    </div>

    <input type="submit" class="btn btn-default" value="<%= submit_label %>">
  </div>
</div>
