<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RailsConf Events</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">RailsConf Events <small>(unofficial)</small></a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <% if active_user.super_admin? %>
              <ul class="nav navbar-nav">
                <li <%= %{class="active"}.html_safe if users_active? %>><a href="/users">Users</a></li>
              </ul>
            <% end %>

            <ul class="nav navbar-nav navbar-right">
              <% if active_user.anonymous? %>
                <li><a href="<%= user_omniauth_authorize_path :github %>"><em>Sign in / Register</em></a></li>
              <% else %>
                <li <%= %{class="active"}.html_safe if me_active? %>>
                  <a href="/users/me">
                    <%= user_avatar active_user %>
                    <%= active_user.display_name %>
                  </a>
                </li>

                <li><%= link_to "Logout", users_sign_out_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <% [:error, :alert, :warning, :success, :info, :notice].each do |type| %>
        <% if flash[type].present? %>
          <div class="alert alert-<%= flash_class_for type %> alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= flash[type] %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container text-center">
        <p class="text-muted">
          Thanks to <a href="http://railsconf.com/">RailsConf</a>, <a href="http://www.mikeperham.com/2013/04/11/railsconf-2013-events/">Mike Perham</a>,
          and <a href="http://blog.andrewcantino.com/blog/2015/04/15/railsconf-2015-party-list/">Andrew Cantino</a>.<br />
          If you like, check out and contribute to the <a href="https://github.com/mikestone/railsconfevents.com">repository</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
